body{
   height: 100vh;

   /* background-color: black;
   background-image: url(../imagens/wallpaper002.jpg);
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   /* o cover ele deixa 100% da vh, mesmo que precise cortar a imagem */
   /* o contain ele tenta deixar a imagem por inteiro, mesmo q tenha q ficar com bordas pretas 
   background-attachment: fixed; */

   /* Shorthand - background
        color > image > position > repeat > attachment
   */

   background: black url(../imagens/wallpaper002.jpg) center top no-repeat fixed;
   background-size: cover;
}

main{
    background-color: white;

    max-width: 400px;

    padding: 10px;
    margin: auto;

    border: 1px solid darkblue;
    border-radius: 15px;
}